:root {
  --main-color: #2c2c2c;
  --accent-color: #bbf330;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: #f5f5f5;
  font-style: normal;
}

/* ======компоненти======= */
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-decoration-line: underline;

  color: var(--accent-color);
}

.list {
  list-style: none;
}


h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



@media screen and (min-width: 320px) {
  .container {
    
      padding-left: 20px;
      padding-right: 20px;

      
      margin-left: auto;
      margin-right: auto;
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
/* =======компоненти/======= */
/* ====шапка===== */

@media screen and (max-width: 767px) {
  .header-navigation {
    display: none;
  }
  .header-button {
    display: none;
  }
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.logo {
  padding: 10px 0px;
}
.menu-mobile-open {
  border-color: transparent;
 
}

@media screen and (min-width: 768px) {
  .menu-mobile-open{
    display: none;
  }


  .header-list {
    display: flex;
    gap:28px;
  }

.header-navigation {
  margin-left: auto;
  margin-right: 30px;
}
  .header-link{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
color: #000;

padding: 28px 0px;
  }
  .header-button {
    display: inline-block;
    min-width: 98px;
    min-height: 32px;
    padding: 6px 18px;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--main-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: transparent;
    border-radius: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-button:hover,
  .header-button:focus {
    background-color: #ffe450;

}

}


/* ==========HERO============ */

.hero-container {
  box-sizing: border-box;
  max-width: 312px;
  padding-top: 60px;
  padding-bottom: 50px;
  font-style: normal;
}

.hero-title {
  display: block;
  width: 280px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.18;
  margin-bottom: 28px;
}

.hero-button {
  display: inline-block;
  min-width: 98px;
  min-height: 32px;
  padding: 6px 18px;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  border-radius: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #ffe450;

}

.hero-slider {
  display: none;
}
.hero-photos-wrap {
  display: none;
}

.hero-text {
 font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 32px;
} 

@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;
z-index: 2;
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 73px;
    
  }

 

  /* .hero-photos-wrap {
    position: absolute;
    right: 0px;
    bottom: 0px;



    display: flex;
    width: 336px;
    height: 320px;
    background-color: #ffe450;
 

    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  } */

  .hero-title {
  width: 537px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
  }
  .hero-text {
    width: 336px;
    font-size: 16px;
line-height: 1.5;
    margin-bottom: 37px;
  }
  .hero-slider {
    
    position: absolute;
    right: 5px;
    bottom: 0px;
    display: flex;
    width: 336px;
    height: 320px;
    background-image: url(../img/Ellipse-tab.png);
    
    background-size: contain;
   background-repeat: no-repeat;
   
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .hero-slider-item{
    margin: 0px;
  }
  .hero-slider-photo {
    position: relative;
     left: -10px; 
     
    border-radius: 50%;
    width: 292px;
    height: 292px;
    margin: auto;
    object-position: center ;
    
  }
   
  
  .slick-prev {
    z-index: 100;
  display: block;
  left: -10px;
  width: 28px;
  height: 34px;
  border: none;
  /* padding: 5px 13px; */
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-image: url(../img/left.svg); 
  background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center;
  }
  .slick-prev:hover, .slick-prev:hover
   { 
  background-image: url(../img/left-color.svg);
  background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center; 
  background-color: #FFFFFF; }
  
  .slick-prev:active {
    background-image: url(../img/left.svg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  
  .slick-next {
    display: block;
  right: 8px;
  
  width: 28px;
  height: 34px;
  border: none;
  
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-image: url(../img/right.svg); 
  background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center;
  }
  .slick-next:hover, .slick-next:focus
   { 
     background-image: url(../img/right-color.svg);
     background-repeat: no-repeat;
  background-size: 11px 20px;
  background-position: center; 
  background-color: #FFFFFF; 
  }
  
  .slick-next:active {
    background-image: url(../img/right.svg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  
  .slick-prev:before, .slick-next:before {
  display: block;
  content: "";
  
  }

  
}

@media screen and (min-width: 1280px){
  .hero-container {
    max-width: 1280px;
    padding-top: 159px;
    padding-bottom: 164px;
}
.hero-content{
  width: 511px;
}
.hero-title {

width: 100%;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-text {
  width: 100%;
  font-size: 15px;
  line-height: 1.50;
  margin-bottom: 46px;
}

.hero-slider {
  width: 580px;
  height: 580px;
  background-image: url(../img/Ellipse11.png);
}


.hero-slider-photo {
  top:-2px;
  width: 528px;
  height: 528px;
}
 

.slick-prev {
left: -10px;
width: 40px;
height: 48px;
background-size: 16px 29px;

}
.slick-prev:hover, .slick-prev:hover
 { 

background-size: 16px 29px;}



.slick-next {
right: -10px;
width: 40px;
height: 48px;
background-size: 16px 29px;

}
.slick-next:hover, .slick-next:focus
 { background-size: 16px 29px;}
}


/* =========OFFERING=============== */


  .offering-container {
    
    padding-top: 41px;
    padding-bottom: 72px;
  
    background-image: url(../img/offering-mob320.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
   min-width: 320px;

  }

.offerings-photo-wrap {
  position: relative;
  display: block;
  width: 280px;
  height:309px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background-color: transparent;

}

.offerings-photo {

  display: block;
  width: 100%;
  
}

.offerings-title {
  
  font-weight: 700;
font-size: 28px;
line-height: 1.17;

color: var(--main-color);
margin:0px 0px 28px;
}

.offerings-text {
  font-weight: 400;
font-size: 14px;
line-height: 1.43;
color: var(--main-color);
}

.offerings-pert1 {
  margin-bottom: 28px;
}


.offerings-icon-wrap {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-bottom: 8px;
}

.offerings-subtitle {
  font-weight: 700;
font-size: 18px;
line-height: 1.17;
color: var(--main-color);
margin-bottom: 16px;
}
.offerings-part2 {
  margin-bottom: 24px;
}

.offerings-part3 {
  margin-bottom: 28px;
}

.offerings-button{
    display: inline-block;
    min-width: 106px;
    min-height: 40px;
    padding: 8px 20px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--main-color);
    background-color: #FFFFFF;
    cursor: pointer;
    border: 2px solid #7EB101;
border-radius: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .offerings-button:hover,
  .offerings-button:focus {
    background-color:var(--accent-color) ;
    border-color:transparent;

}

.offiring-button-block {
  display: flex;
  gap: 24px;
  align-items: center;
}

.offering-link {
  display: block;
  text-decoration: none;
  font-size: 13.6667px;
line-height: 1.5;

color: #000000;
scale: 1;
transition: scale  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.offering-link:hover, .offering-link:focus {
  scale: 1.1;
}


@media screen and (min-width: 768px) {
  
  .offering-container {
    padding-top: 150px;
    padding-bottom: 88px;
  margin-top: -10%;
    background-image: url(../img/offering-tab.png);
    background-position: 0% center;
   min-width: 768px;

  }

  .offerings-photo-wrap {
    width: 100%;
    height: 394px;
    margin-bottom: 60px;
  }

  .offering-part1-wrap {
  width: 526px;
}

  .offerings-title {
  font-size: 42px;
  line-height: 1.17;
}

  .offerings-text  {
  font-size: 16px;
  line-height: 1.5;
}

  .offerings-subtitle{
  font-size: 18px;
  line-height: 21px;
}
  
  .offerings-part3, .offerings-part2 {
  font-size: 14px;
  line-height: 1.43;
}


  .offerings-content-wrap {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;}
  
  
  .offering-part2-wrap{
  width: 288px;
  margin-bottom: 0;}
  
  
  .offerings-part2 {
  margin-bottom: 0;}
  
  
  .offering-part3-wrap {
  width: 252px;
  margin-bottom: 0;}
  
  
  .offerings-part3 {
  margin-bottom: 0;}
  
}


@media screen and (min-width: 1280px) {

    .offering-container { 
      display: flex;
      align-items: center;
      gap:90px;
      padding-top: 177px;padding-bottom: 79px;
      margin-top: -145px;background-image: url(../img/offering-desk.png);background-position: 0% 0%;background-size: 100%;min-width: 1280px;
  }
  
  .offerings-photo-wrap {
  width: 550px;
  height: 604px;
  margin-bottom: 0;}

.offerings-content-wrap {
  gap: 67px;
  margin-bottom: 32px;
}

.offering-part2-wrap{
  width: 253px;
}

.offering-part3-wrap {
  width: 253px;
}

}
  
/* ======FAVORITES========= */
.favorites-container {

  
}
.favorites-title {
  
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
color: #2C2C2C;
 margin-bottom: 20px;

}

.favorites-subtitle {

  font-weight: 400;
font-size: 14px;
line-height: 1.14;
text-align: center;
color: #2C2C2C;

  margin-bottom: 60px;

}

.favorites-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  gap: 20px;
}

.favorites-link {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  border: 11px solid;
  border-color: #FFE550;
}
.favorites-link:hover,
.favorites-link:focus {
  border-color: #BBF330;
}
.favorites-item {
  width: 100%;
  margin: 0px auto;
  display: block;
}

.favorites-item img {
  display: block;
  width: 100%;
  height: auto;
}

/*========== FAVORITES  RESPONSIVE ==========*/

/*----- ONLY MOBILE-------*/
@media screen and (max-width: 767px) {
  .favorites-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .favorites-list {
    max-width: 280px;
  
  }
 
  .favorites-item:nth-child(n + 4) {
    display: none;
  }
}

 

/* -----  TABLET ---- */
@media screen and (min-width: 768px)  {

  .favorites-container {
    padding-top: 97px;
    padding-bottom: 100px;
    max-width: 704px;
  }

 .favorites-title {
font-size: 42px;
line-height: 1.17;
 }

 .favorites-subtitle {
  font-size: 16px;
line-height: 1.19;
margin-bottom:60px ;
 }

  .favorites-list {
    gap: 32px;
  }
  .favorites-item {
    width: calc((100% - 32px) / 2);
  }
  .favorites-link {
    padding: 20px;
    border: 14px solid ;
    border-color: #FFE550;
  }

}

/*-----  DESCTOP ------*/
@media screen and (min-width: 1280px) {

 

  .favorites-container {
    padding-top: 100px ;
    padding-bottom: 100px;
    max-width: 1280px;
  }

  .favorites-subtitle {
    margin-bottom: 40px;
  }
 
  .favorites-item {
    width: calc((100% - 32px * 2) / 3);
  }
  .favorites-link {
    padding: 24px;
    border: 16px solid ;
    border-color: #FFE550
  }
  }

/* ========================= */


/* ------CUSTOMERS--- */

.customers-container {
  background-image: url(../img/customer-mob320.png);
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center 50%;
   min-width: 320px;
   height: 769px;

   padding-top: 60px;
   padding-bottom: 60px;

}

.customer-title {
  font-weight: 700;
font-size: 28px;
line-height: 1.18;

color: #2C2C2C;
margin-bottom: 20px;
}

.customer-subtitle {
  font-weight: 400;
font-size: 14px;
line-height: 1.14;

color: #2C2C2C;
margin-bottom: 32px;
}

.customers-box-wrap {
  position: relative;

  padding: 52px 8px 8px 8px;
  
  background-color: #fefefe;
  border-radius: 0px 30px 30px 30px;
  padding-left: 8px;
  
}
.customer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stars {
  position: absolute;

  min-width: 101px;
  height: 16px;
  top: 8px;
  left: 8px;
}

.stars-list {
  display: flex;
  gap: 4px;
}

.star {
  display: block;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 16px;
}

.stars-icon {
width: 100%;
}


.customer-text {
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  
  color: #2C2C2C;
  
  margin-bottom: 40px;
}

.customer-card {
  display: flex;
  align-items: center;
  
  gap: 16px;
}

.customer-photo {
  width: 48px;
  border-radius: 50%;
  overflow: hidden;

}

